.footer{
  height: 15vh;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-height:$landscape){
    height: 30vh;
    padding:  1rem;
   
  }
  
 
img{
  width: 6rem;
  height: 6rem;

  @media only screen and (max-width:$medium){
    width: 4rem;
    height: 4rem;
    
  }
      @media only screen and (max-width:$small){
       width: 2rem;
       height: 2rem;
    
      }

}
&__contact{
  margin: 0 1rem;
  display: grid;
  background: #f3ad0b;
  padding: .5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  
  .email,
  .phone{
    font-size:1.5rem;
    color: black;
    padding-right: .5rem;
  }

  @media only screen and (max-width:$medium){
   padding: 1.5rem 1rem;
   }

  a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  li{
    list-style: none;
    color: #916501;
    font-size: 1.4rem;
    line-height: 2rem;
    

  }
 h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  @media only screen and (max-width:$small){
    font-size: 1.2rem;
   }
 }

}
&__social{

  a{
    color: white;
    font-size: 2rem;
    margin: 0 .8rem;

    @media only screen and (max-width:$medium){
      font-size: 1.5rem;
      }
    @media only screen and (max-width:$small){
      font-size: .9rem;
      margin: 0 .3rem;
     }
  

    }
  }
}



//COPYRIGHT
.copi{
  background-color: rgb(83, 83, 83);
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;

  @media only screen and (max-height:$landscape){
    height: 20vh;
    padding:  1rem;
   
  }
  @media only screen and (max-width:$medium){
    height: 20vh;
    }
    @media only screen and (max-width:$small){
      height: 15vh;
      }

 h3{
   color: white;
   font-weight: lighter;
   font-size: 1rem;
 }

.pizza{
  width: 8rem;
  margin-left: 2rem;

}

}